<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/main.css')}}">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

</head>
<body>
<br>
<br>

<!--2. hvad kunne du lide ved filmen?-->

    <form method="POST">
        <h2>What did you like about '{{session["film"]}}'?</h2>
        <br><br>
        <select name="trait" method="GET" required>
            <option selected disabled value="">Select a trait</option>
            <option value="{{traits[0]}}">
                {{ traits[0] }}
            </option>
            {% for x in traits[1:] %}
                <option value="{{x}}">
                    {{x}}
                </option>
            {% endfor %}
        </select>
        <br><br>
    <input name="trait" type="submit" value="See suggestions!">
    </form>

<br>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}



<br>
<br>
<br>
<br>
<br>

<!-- style="text-align: right"-->
<!--style="margin-right: 235px;"-->
<div>
<a href="/addTrait">Add another trait to this movie</a>
    <br>
    <br>

    <a href="/report">Report something about this movie</a>
</div>


<!--fjerner den her confirm form resubmission message i browseren som jeg fik før-->
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>

</body>
</html>